@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
@import url("../css/common.css");
@import url("../css/common.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
@import url("../css/common.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
@import url("../css/common.css");
header {
  position: absolute;
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../images/info_bg.png") no-repeat;
  background-size: cover;
  overflow: hidden;
}
main img {
  position: absolute;
  bottom: 5rem;
  left: 5rem;
  width: 100rem;
  animation: img-move 3s linear infinite;
}
main div {
  position: absolute;
  top: 15rem;
  right: 14rem;
}
main div h2 {
  font-size: 5.8rem;
  font-weight: 400;
  color: var(--text-green);
  text-align: left;
  margin-bottom: 2rem;
  opacity: 0;
  animation: text-left 0.6s 0.4s;
  transition: all 0.5s ease-in-out linear;
  animation-fill-mode: forwards;
}
main div p {
  font-size: 2.6rem;
  font-weight: 300;
  color: var(--text-green);
  text-align: left;
  line-height: 1.8;
  opacity: 0;
  animation: text-left 0.6s 0.5s linear;
  transition: all 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.btn.question_btn {
  margin: 8rem 0 4rem;
}

.bg {
  height: 100vh;
  background: url("../images/white_bg.png") no-repeat;
  background-size: cover;
}

.tit {
  opacity: 0;
  transform: translateY(10rem);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.tit.is-visible {
  opacity: 1;
  transform: translateY(0rem);
}

.business_wrap {
  height: 100%;
}

.able {
  height: 100%;
  padding: 5rem;
  box-sizing: border-box;
}
.able .employee {
  width: 100%;
  margin-bottom: 4rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.able .employee.is-visible {
  opacity: 1;
}

@keyframes text-left {
  0% {
    transform: translate(30rem);
  }
  100% {
    opacity: 1;
    transform: translate(0rem);
  }
}
@keyframes img-right {
  0% {
    transform: translate(-30rem);
  }
  100% {
    opacity: 1;
    transform: translate(0rem);
  }
}
@keyframes img-move {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@media screen and (max-width: 1340px) {
  main img {
    position: absolute;
    bottom: 5rem;
    left: 5rem;
    width: 80rem;
  }
  main div {
    position: absolute;
    top: 15rem;
    right: 6rem;
  }
  main div h2 {
    font-size: 4rem;
  }
  main div p {
    font-size: 2.5rem;
  }

  .swiper-slide p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
    padding: 2rem 0 4rem;
    color: var(--text-green);
  }
}
@media screen and (max-width: 480px) {
  main img {
    bottom: 8rem;
    left: 2.5rem;
    width: 50rem;
  }
  main div {
    position: absolute;
    top: 15rem;
    right: 10%;
    padding-left: 2rem;
  }
  main div h2 {
    font-size: 4rem;
  }
  main div p {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 320px) {
  main img {
    bottom: 2rem;
    width: 35rem;
  }
  main div {
    top: 15rem;
  }
  main div h2 {
    font-size: 3.2rem;
  }
  main div p {
    font-size: 2.2rem;
  }
}
#map {
  max-width: 2000px;
  width: 100%;
  height: 400px;
  border-radius: 20px;
}

.notice_wrap {
  width: 100%;
  height: 100%;
}
.notice_wrap.container {
  padding-bottom: 10rem;
}

.tit_wrap.ani_none .sm_tit {
  opacity: 1;
  animation: none;
}
.tit_wrap.ani_none span {
  opacity: 1;
  animation: none;
}

.list_info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1360px;
  margin: auto;
  padding: 4rem 1rem;
  box-sizing: border-box;
}
.list_info li {
  font-size: 2.8rem;
  color: var(--main-color);
}
.list_info::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--main-color);
}

.notice_list_wrap {
  max-width: 1360px;
  width: 100%;
  height: 100%;
  margin: 4rem auto;
}

.notice_list {
  display: block;
  box-sizing: border-box;
}

.list_tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.4rem;
  margin-bottom: 3rem;
  padding: 2rem 3rem;
  background: #fff;
  color: var(--main-color);
  width: 100%;
  border-radius: 20px;
  border: 1px solid var(--main-color);
  box-sizing: border-box;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}
.list_tit:last-child {
  margin-bottom: 0;
}
.list_tit .contnet_tit {
  max-width: 30rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.open .list_tit {
  color: #fff;
  background: var(--main-color);
}

.close .list_content {
  height: 0px;
  transition: height 1s ease-out;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  float: left;
  display: block;
}

.open .list_content {
  display: block;
  width: 100%;
  padding: 3rem;
  margin-bottom: 3rem;
  background-color: #fff;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-sizing: border-box;
}
.open .list_content h3 {
  font-size: 1.8rem;
  text-align: left;
  line-height: 1.3;
  margin-bottom: 2rem;
  color: var(--balck-color);
}
.open .list_content p {
  font-size: 1.6rem;
  text-align: left;
  line-height: 2;
  margin-top: 2rem;
  color: var(--balck-color);
}
.open .list_content p strong {
  display: block;
  font-weight: 700;
  padding: 1rem 0;
}
.open .list_content em {
  font-size: 1.5rem;
  padding: 0.8rem 1rem;
  color: #fff;
  margin-right: 1rem;
  background: #afceef;
  border-radius: 15px;
}

@media screen and (max-width: 780px) {
  .notice_wrap.container {
    padding-bottom: 5rem;
  }

  .list_info {
    padding: 3rem 1rem;
  }
  .list_info li {
    font-size: 2.4rem;
  }

  .list_tit {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .open .list_content {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .list_tit .contnet_tit {
    max-width: 20rem;
  }
}
@media screen and (max-width: 380px) {
  .list_tit {
    font-size: 1.6rem;
  }
  .list_tit .contnet_tit {
    max-width: 20rem;
  }
}
.portfolio {
  height: 100%;
  width: 100%;
  padding: 14rem 0 30rem;
  box-sizing: border-box;
}
.portfolio .folio_tit {
  position: relative;
  display: block;
  font-size: 3rem;
  font-weight: 500;
  color: var(--main-color);
  opacity: 0;
  animation: up 1s;
  animation-fill-mode: forwards;
}
.portfolio .bar {
  display: block;
  max-width: 480px;
  height: 4px;
  margin: 2rem auto 0;
  background: var(--main-color);
  opacity: 0;
  animation: up 1s 0.1s;
  animation-fill-mode: forwards;
}

.folio_container {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--main-color);
  opacity: 0;
  animation: up 1s 0.3s;
  animation-fill-mode: forwards;
}
.folio_container .able_img {
  position: absolute;
  top: -160px;
  left: 50%;
  transform: translateX(-50%);
}
.folio_container h3 {
  font-size: 2.8rem;
  color: #fff;
  line-height: 1.5;
  padding: 30rem 0 10rem;
  box-sizing: border-box;
}

.content_wrap {
  width: 100%;
  height: 100%;
  background: url("../images/green_bg.png") no-repeat;
  background-size: cover;
  padding-bottom: 10rem;
}
.content_wrap .tit {
  color: #fff;
  margin: 0;
  padding: 10rem 0 8rem;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(10rem);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.content_wrap .tit.is-visible {
  opacity: 1;
  transform: translateY(0rem);
}

.swiper-slide {
  margin-bottom: 4rem;
  cursor: pointer;
}
.swiper-slide:hover .hover_content {
  opacity: 1;
}

.hover_content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-green);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.swiper-scrollbar-drag {
  background: #fafafa;
}

.white_footer {
  padding: 4rem 0;
  color: var(--main-color);
  background-color: var(--bg-color);
  box-sizing: border-box;
}

.footer_top.white_footer_top::before {
  background: var(--main-color);
}

.link_wrap.white_link .menu_list a {
  color: var(--main-color);
}

@media screen and (max-width: 838px) {
  .portfolio {
    padding: 10rem 0 20rem;
  }

  .folio_container .able_img {
    top: -78px;
    width: 400px;
  }
  .folio_container h3 {
    font-size: 2.5rem;
    line-height: 1.7;
    padding: 16rem 0 4rem;
  }
}
@media screen and (max-width: 486px) {
  .portfolio {
    padding: 14rem 0 15rem;
  }
  .portfolio .bar {
    max-width: 300px;
  }

  .content_wrap {
    background-size: 200% 100%;
  }

  .folio_container .able_img {
    top: -58px;
    width: 300px;
  }
  .folio_container h3 {
    font-size: 2.2rem;
    line-height: 1.5;
  }
}
:root {
  --main-color: #71C7CB;
  --text-green: #033333;
  --balck-color: #222;
  --bg-color: #fafafa;
}

#skipNav {
  position: relative;
  z-index: 9999;
}

#skipNav a {
  position: absolute;
  top: -200px;
  left: 0;
  width: 200px;
  line-height: 40px;
  color: #fff;
  border: none;
  background-color: var(--main-color);
}

#skipNav a:focus,
#skipNav a:active {
  top: 0;
  outline: none;
}

.container {
  flex: 1;
  max-width: 1700px;
  width: 100%;
  padding: 0 4rem;
  margin: auto;
  box-sizing: border-box;
}

.inner {
  max-width: 1800px;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.tit {
  font-size: 5rem;
  font-weight: 700;
  color: var(--main-color);
  margin: 6rem 0;
}

.tit_wrap {
  text-align: center;
  padding-top: 10rem;
}
.tit_wrap .sm_tit {
  position: relative;
  font-size: 4.8rem;
  font-weight: 700;
  padding: 3rem 0;
  color: var(--main-color);
  box-sizing: border-box;
  opacity: 0;
  animation: up 1s;
  animation-fill-mode: forwards;
}
.tit_wrap span {
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 3rem;
  background: var(--main-color);
  opacity: 0;
  animation: up 1s 0.1s;
  animation-fill-mode: forwards;
}

.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--main-color);
  padding: 1.5rem 5rem;
  margin: 4rem 0;
  background: #fff;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  box-sizing: border-box;
  opacity: 0;
  overflow: hidden;
  transform: translateY(4rem);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  z-index: 1;
  cursor: pointer;
}
.btn.is-visible {
  opacity: 1;
  transform: translateY(0rem);
}
.btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: var(--main-color);
  transition: all 0.3s ease-in-out;
}
.btn span i {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--main-color);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
.btn:hover {
  color: #fff;
}
.btn:hover span {
  background: #fff;
  animation: arrow 1s infinite ease-in-out;
  -webkit-animation: arrow 1s infinite ease-in-out;
}
.btn:hover span i {
  color: var(--main-color);
}
.btn:hover::before {
  left: 0%;
}

@keyframes arrow {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(5px);
  }
  0% {
    transform: translate(0);
  }
}
@keyframes up {
  0% {
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
input, textarea {
  width: 100%;
  font-size: 2rem;
  padding: 2.5rem 2rem;
  color: var(--text-green);
  border-radius: 20px;
  border: 2px solid var(--main-color);
  box-sizing: border-box;
  outline: none;
}
input::placeholder, textarea::placeholder {
  font-size: 1.6rem;
}
input:focus, textarea:focus {
  background: #AFE4E6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 8rem;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease;
  z-index: 100;
}

.toggle_wrap {
  position: fixed;
  right: 8rem;
  width: 64px;
  height: 64px;
  background: var(--main-color);
  border-radius: 50%;
  z-index: 20;
  cursor: pointer;
}

.hamburger {
  --hm-width: 2.4em;
  --hm-height: 0.3em;
  --spacing: calc(var(--hm-width) / 4);
  width: var(--hm-width);
  height: var(--hm-height);
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.8s ease-in-out;
  z-index: 1000;
  border-radius: 2px;
}

.hamburger::after,
.hamburger::before {
  content: "";
  width: 50%;
  height: inherit;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  transition: transform 0.8s ease-in-out;
}

.hamburger::after {
  top: calc(-1 * var(--spacing));
}

.hamburger::before {
  top: var(--spacing);
  left: 50%;
}

.close.hamburger::before,
.close.hamburger::after {
  left: 50%;
  transform: translate(-50%) rotate(-450deg);
  background-color: white;
}

.close.hamburger {
  transform: rotate(45deg);
  background-color: white;
  top: 45%;
  left: 20%;
}

nav {
  position: fixed;
  background-color: var(--main-color);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right center;
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in;
  z-index: 10;
  overflow: hidden;
}

.reveal-nav {
  transform: scaleX(1);
  opacity: 1;
}

.menu_info {
  opacity: 0;
  transform: translate(-20em);
  transition: transform 0.8s ease-in-out, opacity 0.3s ease-in;
}
.menu_info .menu_logo {
  width: 80%;
  margin-bottom: 7rem;
}
.menu_info .info_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
  width: 100%;
}
.menu_info .info_wrap li {
  margin-bottom: 4rem;
}
.menu_info .info_wrap li:last-child {
  margin-bottom: 0;
}
.menu_info .info_wrap li a {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
}
.menu_info .info_wrap li a img {
  width: 2.3rem;
}
.menu_info .info_wrap li a span {
  display: block;
  font-weight: 500;
  padding: 0 8rem 0 1rem;
  box-sizing: border-box;
}
.menu_info .info_wrap li a .mail {
  padding-right: 6rem;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 0;
  margin-left: 18rem;
  border-left: 1px solid #fff;
  box-sizing: border-box;
}
.menu li {
  margin: 0 0 1rem 4rem;
}
.menu li:last-child {
  margin-bottom: 0;
}

.menu-item {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2rem;
  color: #fff;
  transform: translate(20em);
  text-transform: uppercase;
  text-align: center;
  transition: transform 0.8s ease-in-out, opacity 0.3s ease-in, color 0.3s ease-in-out;
  box-sizing: border-box;
}
.menu-item::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  font-size: 2.5em;
  color: #fff;
  opacity: 0;
  pointer-events: none;
  z-index: -2;
  transition: all 0.4s ease-in-out;
}
.menu-item:hover {
  color: #35A7AC;
}
.menu-item:hover::before {
  top: 50%;
  opacity: 0.1;
}

.menu li + li {
  margin-top: 1em;
}

.reveal-items.menu_info {
  opacity: 1;
  transform: translate(0);
  transition-delay: 0.3s;
}

.reveal-items .menu-item {
  transform: translate(0);
}

.reveal-items li:nth-child(1) .menu-item {
  transition-delay: 0.1s;
}

.reveal-items li:nth-child(2) .menu-item {
  transition-delay: 0.2s;
}

.reveal-items li:nth-child(3) .menu-item {
  transition-delay: 0.3s;
}

.reveal-items li:nth-child(4) .menu-item {
  transition-delay: 0.4s;
}

.reveal-items li:nth-child(5) .menu-item {
  transition-delay: 0.5s;
}

.swiper-container {
  width: 100%;
  overflow: hidden;
}
.swiper-container .swiper-wrapper {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.swiper-container .swiper-wrapper.is-visible {
  opacity: 1;
}

.swiper-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 56rem;
  text-align: center;
  border-radius: 20px;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.swiper-slide p {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.4;
  padding: 2rem 0 4rem;
  color: var(--text-green);
}

.swiper-horizontal > .swiper-scrollbar {
  position: inherit;
}

.swiper-scrollbar-drag {
  background: var(--main-color);
}

.portfolio_slide .swiper-scrollbar-drag {
  background: var(--bg-color);
}

footer {
  width: 100%;
  padding: 4rem 0;
  color: #fff;
  background-color: var(--main-color);
  box-sizing: border-box;
}

.footer_top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 14px;
}
.footer_top::before {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
}
.footer_top p {
  font-size: 2rem;
  font-weight: 300;
}
.footer_top p strong {
  font-weight: 400;
  padding-right: 1rem;
}

.footer_bottom {
  padding-top: 1rem;
}

.link_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.link_wrap .menu_list {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.link_wrap .menu_list a {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1rem 0.5rem;
  color: #fff;
  transition: opacity 0.2s;
}
.link_wrap .menu_list a:hover {
  opacity: 0.8;
}
.link_wrap .connect_list {
  text-align: right;
}
.link_wrap .connect_list li {
  font-size: 1.8rem;
  font-weight: 300;
  padding-bottom: 1.5rem;
}
.link_wrap .connect_list li:last-child {
  margin-bottom: 0;
}
.link_wrap .connect_list li strong {
  font-weight: 400;
}

.copy_wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.8rem;
  padding-top: 4rem;
}
.copy_wrap address {
  font-weight: 400;
  padding-left: 3rem;
}

@media screen and (max-width: 1330px) {
  header {
    padding: 0 4rem;
  }

  .toggle_wrap {
    right: 4rem;
  }
}
@media screen and (max-width: 1024px) {
  header {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 786px) {
  .menu_info {
    display: none;
  }

  .menu {
    justify-content: center;
    margin-left: 0;
    border-left: none;
  }
  .menu li {
    margin: 0 0 4rem 0;
  }

  .menu-item {
    font-size: 5rem;
    text-align: center;
  }
  .menu-item::before {
    font-size: 2em;
  }

  .tit_wrap .sm_tit {
    font-size: 4rem;
  }

  .footer_top p {
    font-size: 1.6rem;
  }

  .link_wrap .menu_list {
    gap: 3rem;
  }
  .link_wrap .menu_list a {
    font-size: 1.5rem;
    padding: 1rem 0.2rem;
  }
  .link_wrap .connect_list li {
    font-size: 1.5rem;
  }

  .copy_wrap {
    font-size: 1.5rem;
  }
  .copy_wrap address {
    padding-left: 2rem;
  }
}
@media screen and (max-width: 580px) {
  .container {
    padding: 0 2rem;
  }

  header {
    padding: 0 3rem;
  }

  .toggle_wrap {
    right: 3rem;
  }

  .footer_top img {
    width: 12rem;
  }

  .copy_wrap {
    flex-direction: column;
    font-size: 1.5rem;
  }
  .copy_wrap address {
    padding: 1rem 0 0 0;
  }
}
@media screen and (max-width: 480px) {
  header {
    padding: 0 3rem;
  }

  .toggle_wrap {
    right: 3rem;
    width: 60px;
    height: 60px;
  }

  .menu li {
    margin: 0 0 0rem 4rem;
  }

  .menu-item {
    padding: 1rem;
  }

  .link_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .link_wrap .menu_list {
    gap: 2rem;
  }
  .link_wrap .connect_list {
    width: 100%;
    padding-top: 2rem;
  }
  .link_wrap .connect_list li {
    padding-bottom: 1rem;
  }

  .copy_wrap address {
    padding: 1rem 0 0 0;
    text-align: left;
  }
}
.main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main_wrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.lottie_wrap {
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  animation: up 0.6s linear;
  animation-fill-mode: forwards;
}

.main_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.main_text li {
  font-size: 7rem;
  color: transparent;
  -webkit-text-stroke: 2px var(--main-color);
  margin-bottom: 2rem;
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  animation: text-left 0.6s linear;
  animation-fill-mode: forwards;
}
.main_text li:first-child {
  animation-delay: 0.1s;
}
.main_text li:nth-child(2) {
  animation-delay: 0.3s;
}
.main_text li:nth-child(3) {
  animation-delay: 0.5s;
}
.main_text li:nth-child(4) {
  animation-delay: 0.7s;
}
.main_text li:nth-child(5) {
  animation-delay: 0.9s;
}

.main_mask {
  max-width: 980px;
  width: 100%;
  font-size: 8rem;
  font-weight: 700;
  -webkit-text-stroke: 2px var(--main-color);
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: left;
  color: transparent;
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  animation: text-left 0.6s linear;
  animation-fill-mode: forwards;
}
.main_mask .mask {
  height: 102px;
  position: relative;
  overflow: hidden;
  margin-top: 0.6rem;
}
.main_mask .mask span {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 105px;
  -webkit-text-stroke: transparent;
  padding-bottom: 0.6rem;
  color: var(--main-color);
}

.mask span[data-show] {
  transform: translateY(-100%);
  transition: 0.5s transform ease-in-out;
}

.mask span[data-up] {
  transform: translateY(-200%);
  transition: 0.5s transform ease-in-out;
}

.main_bt {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../images/bg.png") no-repeat;
  background-size: cover;
}
.main_bt .container {
  padding: 10rem 0 5rem 0;
}
.main_bt .center_content {
  text-align: center;
}
.main_bt .center_content img {
  padding-bottom: 10rem;
  opacity: 0;
  transform: translateY(8rem);
  transition: all 0.5s ease-in-out;
}
.main_bt .center_content img.is-visible {
  opacity: 1;
  transform: translateY(0px);
}
.main_bt .center_content .bt_tit {
  font-size: 5rem;
  font-weight: 300;
  line-height: 1.6;
  color: var(--main-color);
  opacity: 0;
  transform: translateY(4rem);
  transition: all 0.7s ease-in-out;
}
.main_bt .center_content .bt_tit.is-visible {
  opacity: 1;
  transform: translateY(0px);
}
.main_bt .center_content .bt_tit strong {
  font-weight: 700;
}

.woman_character,
.man_character {
  position: absolute;
  bottom: 0;
}

.woman_character {
  left: 4rem;
}

.man_character {
  right: 4rem;
}

@keyframes img-right {
  0% {
    transform: translate(-20rem);
  }
  100% {
    opacity: 1;
    transform: translate(0rem);
  }
}
@keyframes text-left {
  0% {
    transform: translate(20rem);
  }
  100% {
    opacity: 1;
    transform: translate(0rem);
  }
}
@media screen and (max-width: 1674px) {
  .main_mask {
    font-size: 7rem;
  }
  .main_mask .mask span {
    top: 100px;
  }
}
@media screen and (max-width: 1546px) {
  .lottie_wrap {
    max-width: 70rem;
  }
}
@media screen and (max-width: 1424px) {
  .main_mask {
    font-size: 6rem;
  }
  .main_mask .mask span {
    top: 90px;
  }
}
@media screen and (max-width: 1340px) {
  .lottie_wrap {
    max-width: 55rem;
    position: absolute;
    top: 23rem;
    right: 0rem;
  }

  .main_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
  }

  .main_mask {
    font-size: 9rem;
  }
  .main_mask .mask span {
    top: 110px;
  }
}
/* @media screen and (max-width: 1362px) {
  .lottie_wrap { max-width: 80rem; }
} */
@media screen and (max-width: 1230px) {
  .main {
    height: 100%;
    display: block;
    margin: 10rem 0;
  }

  .lottie_wrap {
    max-width: 40rem;
  }

  .main_wrap {
    flex-direction: column;
  }

  .main_mask {
    font-size: 9rem;
    line-height: 1.5;
  }
  .main_mask .mask span {
    top: 120px;
  }
}
@media screen and (max-width: 1168px) {
  .lottie_wrap {
    display: none;
  }

  .main_text li {
    font-size: 5rem;
  }

  .main_bt .center_content img {
    width: 50%;
  }
  .main_bt .center_content .bt_tit {
    font-size: 4.5rem;
    line-height: 1.5;
  }

  .woman_character {
    width: 20rem;
    left: 0rem;
  }

  .man_character {
    width: 20rem;
    right: 0rem;
  }
}
@media screen and (max-width: 786px) {
  .main_wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .lottie_wrap {
    max-width: 90rem;
    margin-bottom: 6rem;
  }

  .main_text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main_text li {
    font-size: 6rem;
  }

  .main_mask {
    font-size: 7rem;
    line-height: 1.2;
  }
  .main_mask .mask {
    height: 70px;
  }
  .main_mask .mask span {
    top: 75px;
  }

  .main_bt {
    height: 80vh;
  }
  .main_bt .center_content img {
    padding-bottom: 5rem;
  }
}
@media screen and (max-width: 486px) {
  .main_mask {
    font-size: 5rem;
  }
  .main_mask .mask {
    height: 60px;
  }
  .main_mask .mask span {
    top: 55px;
  }

  .main_bt {
    height: 100vh;
  }
  .main_bt .center_content .bt_tit {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 378px) {
  .main_mask {
    font-size: 4rem;
  }
  .main_mask .mask {
    height: 50px;
  }
  .main_mask .mask span {
    top: 45px;
  }

  .main_bt .center_content .bt_tit {
    font-size: 3rem;
  }
}
@media screen and (max-width: 320px) {
  .woman_character {
    width: 15rem;
    left: 0rem;
  }

  .man_character {
    width: 15rem;
    right: 0rem;
  }
}